/* Vars */
:root {
    --dark-color:#333;
    --light-color:#f4f4f4;
    --page-1-color: steelblue;
    --page-2-color: tan;
    --page-3-color:teal;
    --page-4-color:slateblue;
    --animate-speed: 1s;
}

/* Utils */
body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    line-height: 1.4;
    color: #fff;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 4rem;
    line-height: 1.2;
    margin: 1rem;
}
p{
    font-size: 1.3rem;
    line-height: 1.4;
    margin-bottom: 50px;
}
.btn-dark{
    color: var(--light-color);
    background: var(--dark-color);
}
.btn-light{
    color: var(--dark-color);
    background: var(--light-color);
}
.btn {
    text-decoration: none;
    cursor: pointer;
    border: none;
    margin: 1rem 0.1rem;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    transition: all 0.3s ease-in;
}
.btn:hover {
    color: var(--light-color);
    background: var(--dark-color);
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    /* max-width: 1100px; */
    padding: 0 4rem;
}
/* Pages */
#page-1 {
    background: var(--page-1-color);
}
#page-2 {
    background-color: var(--page-2-color);
}
#page-3 {
    background-color: var(--page-3-color);
}
#page-4 {
    background-color: var(--page-4-color);
}
/* Animation */
#page-1 h1 {
    transform: translateY(-1200px);
    animation: heading var(--animate-speed) forwards ease-in-out;
}
@keyframes heading {    
    to{transform: translateY(0);}
}
#page-1 p {
    transform: translateX(-1800px);
    animation: paragraph var(--animate-speed) forwards ease-in;
    animation-delay: 1s;
}
@keyframes paragraph {
    to{
        transform: translateX(0);
    }
}